/*banner*/

#banner {
  background: url(../images/common/bgBanner.jpg)no-repeat center top;
  background-size: cover;
  padding: 467px 0 0;
  .row{
    max-width: 100%;
  }
  .container{
    background: rgba(0,0,0,0.65);
    max-width:529px;
    width: 100%;
    margin: 0 0 0 auto;
    padding: 50px 211px 50px 171px;
    text-align: right;
    .btn2{margin-bottom: 15px;}
    p:nth-of-type(1){
      margin: 0 auto;
      font-family: "Rajdhani";
      font-weight: 700;
      font-size: 40px;
      color: #FFFFFF;
    }
    p:nth-of-type(2){
      margin: 0 auto;
      font-family: "Rajdhani";
      font-weight: 700;
      font-size: 70px;
      color: #FFFFFF;
      span{
        color: #4ED300;
      }
    }
    p:nth-of-type(3){
      margin: 0 auto;
      font-family: "Rajdhani";
      font-weight: 700;
      font-size: 35px;
      color: #FFFFFF;
    }
  }
}
