/*contact*/
#contact{
  background: url(../images/common/bgContact.jpg)no-repeat center top;
  background-size: cover;
  padding: 4% 0;
  form{
    max-width: 1200px;
    width: 100%;
    margin:40px auto 0;
    .cntTop{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      input[type="text"]{
        background: rgba(243,243,233, 0.81);
        width: 389px;
        height: 53px;
        border-radius: 0;
        &::placeholder{
          font-family: "Rajdhani";
          font-weight: 500;
          font-size: 20px;
          color: #333333;
        }
      }
    }
    textarea{
      background: rgba(243,243,233, 0.81);
      height: 106px;
      border-radius: 0;
      &::placeholder{
        font-family: "Rajdhani";
        font-weight: 500;
        font-size: 20px;
        color: #333333;
      }
    }
    .cntBot{
      text-align: left;
      .left,.right{
        display: inline-block;
        vertical-align: middle;
      }
      .left{
        width: 74%;
        color: #FFFFFF;
        label{
          font-family: "Rajdhani";
          font-weight: 400;
          font-size: 18px;
          line-height: 25px
        }
      }
      .right{
        width: 24%;
      }
    }
  }
}
#map{
  iframe{
    width: 100%;
    height: 665px;
    border: 0
  }
}
