/*footer*/

#footer {
  background: #4FD400;
  .footTop{
    background: url(../images/common/bgFooter.jpg)no-repeat center top;
    background-size: cover;
    padding: 4% 0;
    .row{
      max-width: 1200px
    }
    .container{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: flex-end;
      .cntDetail{
        background: #FFFFFF;
        max-width: 371px;
        width: 100%;
        padding: 1px 0 5.084%;
        img{margin-top:-40px;}
        h3{
          position: relative;
          font-family: "Teko";
          font-weight: 300;
          font-size: 30px;
          color:#187046;
          padding: 20px 0;
          &::after{
            content: "";
            width: 132px;
            height: 1px;
            background: #AAAAAA;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        p{
          margin: 30px auto 0;
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          font-size: 15px;
          color:#444444;
        }
        &:nth-child(2){
          p{
            margin: 25px auto 0;
            font-family: "Teko";
            font-weight: 300;
            font-size: 30px;
          }
        }
        &:nth-child(3){
          p{
            margin: 13px auto 0;
            line-height: 27px;
          }
        }
        .email{
          background: url(../images/common/logo-sprites.png)no-repeat 0 0;
          width: 71px;
          height: 70px;
        }
        .phone{
          background: url(../images/common/logo-sprites.png)no-repeat -85px 0;
          width: 71px;
          height: 70px;
        }
        .location{
          background: url(../images/common/logo-sprites.png)no-repeat -168px 0;
          width: 71px;
          height: 70px;
        }
      }
    }
  }
  .footBot{
    padding: 20px 0;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    ul{
      padding: 0;
      margin: 0;
      li{
        display: inline-block;
        vertical-align: middle;
        a{
          font-family: "Montserrat";
          font-weight: 600;
          font-size: 17px;
          color: #FFFFFF;
          margin: 0 10px;
        }
      }
    }
  }
  .silver img {
    display: inline-block;
    vertical-align: middle;
    max-width: 50px;
  }
}
