/*gallery*/
#gallery{
  background: url(../images/common/bgGallery.jpg)no-repeat right top;
  background-size: 50% 100%;
  padding: 5% 0;
  text-align: left;
  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 108%;
    margin: 40px 0;
    img.galleryIMG{
      max-width: 535px;
      width: 33%;
      height: 100%;
    }
  }
}
