/*header*/

#header {
  background: #444444;
  padding: 0;
  .hdLeft{
    img.hdLogo{
      max-width: 363px;
      width: 100%;
    }
  }
  .hdRight{
    .hdRightTop{
      p{
        font-family: "Montserrat";
        font-weight: 600;
        font-size: 18px;
        color: #FFFFFF;
        margin: 10px 35px 10px 0;
        letter-spacing: 4px;
        span{
          display: inline-block;
          vertical-align: sub;
          font-weight: 800;
          font-size: 30px;
          color: #4FD400;
          padding: 0 15px;
          letter-spacing: 0;
        }
      }
    }
    .hdRightBot{
      nav {
        a#pull {
          display: none;
        }
        ul {
          margin: 0;
          padding: 0;
          li {
            display: inline-block;
            vertical-align: middle;
            a {
              font-family: "Teko";
              font-weight: 400;
              font-size: 18px;
              color: #FFFFFF;
              padding: 16px 29px;
              letter-spacing: 2px;
            }
            &.active-menu a, a:hover {
              background: #4FD400;
              border-radius: 100px
            }
          }
        }
      }
    }
  }
}
