/*review*/
#reviews{
  .row{
    max-width: 100%
  }
  .rvwLeft{
    .rvwIMG{
      max-width: 961px;
      width: 100%;
      margin-bottom: -5px;
    }
  }
  .rvwRight{
    padding: 4% 0 0;
    text-align: left;
    .container{
      margin: 0 0 0 80px;
      .text{
        margin: 20px 0 40px;
        dl{
          max-width: 669px;
          width: 100%;
          margin: 20px 0;
          dt{
            font-family: "Open Sans";
            font-weight: 700;
            font-size: 18px;
            color: #444444;
            img{
              display: inline-block;
              vertical-align: middle;
            }
          }
          dd{
            margin: 0;
            font-family: "Open Sans";
            font-style: italic;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #222222;
          }
        }
      }
    }
  }
}
