/*services*/
#services{
  .row{max-width: 100%}
  .svcLeft{
    background: #444444;
    padding: 40px 0;
    img.dump-truck{
      max-width: 1001px;
      width: 106%;
      margin-right: -10px;
    }
  }
  .svcRight{
    padding: 5% 0 0;
    .container{
      max-width: 840px;
      width: 92%;
      margin: 0 auto 0 8%;
      text-align: left;
      h2{
        line-height: 79px
      }
      ul{
        padding: 0 0 0 20px;
        margin: 30px 0;
        columns: 3;
        li{
          text-align: left;
          font-family: "Rajdhani";
          font-weight: 600;
          font-size: 18px;
          line-height: 32px;
          color: #444444;
        }
      }
    }
  }
}
