h1 {
  font-family: "Rajdhani";
  font-size: 51px;
  font-weight: 700;
  color: #4FD400;
  line-height: 61px
}
h2 {
  font-family: "Rajdhani";
  font-size: 66px;
  font-weight: 500;
  color: #4FD400;
}
h4{
  font-family: "Century Gothic";
  font-size: 28px;
  font-weight: 400;
  color: #666666;
  line-height: 34px;
}
h5{
  font-family: "Lato";
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  color: #000000
}
