/*wedo*/
#wedo{
  background: url(../images/common/bgWhat.jpg)no-repeat right top;
  background-size: 50% 100%;
  padding: 4% 0 2%;
  text-align: left;
  .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
    width: 110%;
    margin: 40px auto;
    .wedoIMG{
      position: relative;
      max-width: 396px;
      width: 100%;
      img{
        max-width: 396px;
        width: 100%;
        margin: 10px auto;
      }
      p{
        position: absolute;
        bottom: 0;
        left: 10px;
        text-align: left;
        max-width: 380px;
        width: 100%;
        font-family: "Rajdhani";
        font-weight: 500;
        font-size: 34px;
        color: #FFFFFF;
        text-shadow: 0 0 20px #000;
      }
    }
  }
}
