/*welcome*/
#welcome{
  .row{max-width: 100%}
  .wlcLeft{
    background: none;
    padding: 130px 0 0;
    text-align: left;
    .welcome-text{
      position: relative;
      max-width: 66%;
      margin: 0 0 0 25%;
      z-index: 1;
      h4{
        position: relative;
        &::after{
          content: url(../images/content/eco.png);
          position: absolute;
          max-width: 280px;
          width: 100%;
          top: -57px;
          left: 37%;
        }
      }
      h1{
        background: #FFF;
      }
      p{
        background: #FFF;
        font-family: "Open Sans";
        font-weight: 400;
        max-width: 620px;
        letter-spacing: 0.5px;
        line-height: 27px;
        color: #000000;
        margin: 30px 0;
        &.phone{
          text-align: right;
          display: inline-block;
          vertical-align: middle;
          font-weight: 600;
          font-size: 18px;
          letter-spacing: 3px;
          margin: 0 auto;
          span{
            display: block;
            font-weight: 800;
            font-size: 35px;
            color: #4FD400;
            letter-spacing: 0;
          }
        }
      }
      .btn2{
        padding: 23.5px 27.5px;
      }
    }
  }
  .wlcRight{
    position: relative;
    background:#4FD400;
    padding: 87px 0 107px;
    img.box{
      position: absolute;
      top: 50%;
      left: 19.8%;
      transform: translate(-81.2%,-50%);
      max-width: 434px;
      width: 46%;
    }
    img.truck{
      margin-left: -120px;
      max-width: 970px;
      width: 100%;
    }
  }
}
