@media screen and (max-width: 1820px){
  #welcome{
    .wlcLeft{
      padding: 6% 0;
      .welcome-text{
        max-width: 75%;
        margin: 0px 0 0 15%;
      }
    }
  }
  #wedo{
    .container{
      width: 100%;
      .wedoIMG{
        width: 24%;
      }
    }
  }
  #gallery .container{
    width: 104%;
  }
}
@media screen and (max-width: 1650px){
  #welcome{
    .wlcLeft{
      padding: 5% 0;
      .welcome-text{
        max-width: 80%;
        margin: 0px 0 0 10%;
      }
    }
  }
  #gallery .container{
    width: 100%;
  }
}
@media screen and (max-width: 1500px){
  #welcome{
    .wlcLeft{
      padding: 5% 0;
      .welcome-text{
        max-width: 84%;
        margin: 0px 0 0 5%;
      }
    }
  }
  #reviews .rvwRight{padding: 2% 0 0;}
  #reviews .rvwRight .container {
    margin: 0 0 0 5%;
  }
  #reviews .rvwRight .container .text dl {
    max-width: 100%;
  }
}
@media screen and (max-width: 1440px){
  .row{max-width: 95%}
  #welcome{
    .wlcLeft{
      padding: 4% 0;
      .welcome-text{
        max-width: 86%;
        margin: 0 0 0 5%;
      }
    }
  }
}
