@font-face { font-family: "socialico"; src: url("fonts/Socialico/Socialico.eot"); src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg"); }

@font-face { font-family: 'Rajdhani'; src: url("fonts/Rajdhani-Bold.woff2") format("woff2"), url("fonts/Rajdhani-Bold.woff") format("woff"); font-weight: bold; font-style: normal; }

@font-face { font-family: 'Teko'; src: url("fonts/Teko-Regular.woff2") format("woff2"), url("fonts/Teko-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Rajdhani'; src: url("fonts/Rajdhani-Medium.woff2") format("woff2"), url("fonts/Rajdhani-Medium.woff") format("woff"); font-weight: 500; font-style: normal; }

@font-face { font-family: 'Rajdhani'; src: url("fonts/Rajdhani-Semibold.woff2") format("woff2"), url("fonts/Rajdhani-Semibold.woff") format("woff"); font-weight: 600; font-style: normal; }

@font-face { font-family: 'Century Gothic'; src: url("fonts/CenturyGothic.woff2") format("woff2"), url("fonts/CenturyGothic.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Open Sans'; src: url("fonts/OpenSans.woff2") format("woff2"), url("fonts/OpenSans.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Open Sans'; src: url("fonts/OpenSans-Bold.woff2") format("woff2"), url("fonts/OpenSans-Bold.woff") format("woff"); font-weight: bold; font-style: normal; }

@font-face { font-family: 'Teko'; src: url("fonts/Teko-Light.woff2") format("woff2"), url("fonts/Teko-Light.woff") format("woff"); font-weight: 300; font-style: normal; }

@font-face { font-family: 'Open Sans'; src: url("fonts/OpenSans-Italic.woff2") format("woff2"), url("fonts/OpenSans-Italic.woff") format("woff"); font-weight: normal; font-style: italic; }

@font-face { font-family: 'Lato'; src: url("fonts/Lato-BoldItalic.woff2") format("woff2"), url("fonts/Lato-BoldItalic.woff") format("woff"); font-weight: bold; font-style: italic; }

@font-face { font-family: 'Rajdhani'; src: url("fonts/Rajdhani-Regular.woff2") format("woff2"), url("fonts/Rajdhani-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat-Black.woff2") format("woff2"), url("fonts/Montserrat-Black.woff") format("woff"); font-weight: 900; font-style: normal; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat-SemiBold.woff2") format("woff2"), url("fonts/Montserrat-SemiBold.woff") format("woff"); font-weight: 600; font-style: normal; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("fonts/Montserrat-ExtraBold.woff") format("woff"); font-weight: 800; font-style: normal; }

.suspension-contain { max-height: 980px; overflow: hidden; position: relative; }

html.suspended { background: rgba(0, 0, 0, 0.6); }

body { max-width: 100%; min-width: 1400px; margin: 0 auto; text-align: center; font-family: Arial; }

a { color: inherit; text-decoration: none; }

a:hover { text-decoration: none; color: inherit; }

h1, h2, h3, h4, h5 { padding: 0; margin: 0; }

.row { max-width: 1500px; margin: 0 auto; }

/*floats*/
.fl { float: left; }

.fr { float: right; }

/*grid*/
.col-1 { width: 8.33%; }

.col-2 { width: 16.66%; }

.col-3 { width: 25%; }

.col-4 { width: 33.33%; }

.col-5 { width: 41.66%; }

.col-6 { width: 50%; }

.col-7 { width: 58.33%; }

.col-8 { width: 66.66%; }

.col-9 { width: 75%; }

.col-10 { width: 83.33%; }

.col-11 { width: 91.66%; }

.col-12 { width: 100%; }

/*typography*/
.text-primary { color: #B11414; }

.text-bold { font-weight: 700; }

.text-uppercase { text-transform: uppercase; }

.text-center { text-align: center !important; }

.text-left { text-align: left; }

.text-right { text-align: right; }

/*button*/
.btn { font-family: "Teko"; font-size: 18px; font-weight: 400; line-height: 22px; letter-spacing: 1px; color: #FFF; display: inline-block; padding: 19px 84px; background: #4FD400; border-radius: 100px; border: 1px solid transparent; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.btn:hover { background: #ddd; border-color: #ddd; color: #ddd; color: #000; }

.btn2 { font-family: "Montserrat"; font-size: 18px; font-weight: 900; letter-spacing: 3px; color: #FFF; display: inline-block; padding: 23.5px 59.5px; background: #4FD400; border-radius: 5px; border: 1px solid transparent; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.btn2:hover { background: #ddd; border-color: #ddd; color: #ddd; color: #000; }

/*clearings*/
.clear { clear: both; }

.clearfix { display: block; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0; }

/*cookie*/
.cc-animate.cc-revoke.cc-bottom { font-size: 14px; padding: 5px 10px; position: fixed; display: block !important; -webkit-transform: none !important; -ms-transform: none !important; transform: none !important; bottom: 0 !important; left: 20px !important; }

/*call to action*/
.destroy-on-load, .cta { display: none; }

/*contact form messages*/
form .messages p { display: none; font-family: Arial !important; font-weight: 400 !important; letter-spacing: 0 !important; font-size: 16px !important; }

form .loading { display: none; }

form .alert { padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; }

form .alert-success { color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; }

form .alert-danger { color: #a94442; background-color: #f2dede; border-color: #ebccd1; }

form [type="submit"] { margin: 20px auto; }

/*contact form*/
.ctc-form { margin: 0 auto; text-align: center; }

.ctc-form input[type="text"] { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; }

.ctc-form textarea { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; height: 120px; padding-top: 10px; }

.ctc-form button { display: block; }

.ctc-form .recap { display: inline-block; }

.ctc-form .g-recaptcha div { margin: 0 auto 10px; }

.ctc-form .ctc-hide { display: none; }

/*gallery*/
#content .gallery-container { text-align: center; }

#content .gallery { list-style-type: none; margin: 0; padding: 0; }

#content .gallery li { display: inline-block; }

#content .thumbnail { background-color: #fff; border: 1px solid #ddd; border-radius: 4px; display: block; line-height: .42857; margin-bottom: 20px; padding: 4px; -webkit-transition: border 0.5s ease-in-out 0s; -o-transition: border 0.5s ease-in-out 0s; transition: border 0.5s ease-in-out 0s; }

#content .thumbnail:hover { -webkit-transform: scale(1.02); -ms-transform: scale(1.02); transform: scale(1.02); }

#content .page_navigation { display: inline-block; }

#content .page_link, #content .previous_link, #content .next_link, #content .first_link, #content .last_link, #content .ellipse { background-color: #fff; border: 1px solid #ddd; color: #0275d8; display: inline-block; line-height: 1.25; margin-left: -1px; padding: 0.5rem 0.75rem; position: relative; }

#content .page_navigation > a:hover { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

.page_navigation > a.active_page { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

h1 { font-family: "Rajdhani"; font-size: 51px; font-weight: 700; color: #4FD400; line-height: 61px; }

h2 { font-family: "Rajdhani"; font-size: 66px; font-weight: 500; color: #4FD400; }

h4 { font-family: "Century Gothic"; font-size: 28px; font-weight: 400; color: #666666; line-height: 34px; }

h5 { font-family: "Lato"; font-size: 20px; font-weight: 700; font-style: italic; color: #000000; }

/*header*/
#header { background: #444444; padding: 0; }

#header .hdLeft img.hdLogo { max-width: 363px; width: 100%; }

#header .hdRight .hdRightTop p { font-family: "Montserrat"; font-weight: 600; font-size: 18px; color: #FFFFFF; margin: 10px 35px 10px 0; letter-spacing: 4px; }

#header .hdRight .hdRightTop p span { display: inline-block; vertical-align: sub; font-weight: 800; font-size: 30px; color: #4FD400; padding: 0 15px; letter-spacing: 0; }

#header .hdRight .hdRightBot nav a#pull { display: none; }

#header .hdRight .hdRightBot nav ul { margin: 0; padding: 0; }

#header .hdRight .hdRightBot nav ul li { display: inline-block; vertical-align: middle; }

#header .hdRight .hdRightBot nav ul li a { font-family: "Teko"; font-weight: 400; font-size: 18px; color: #FFFFFF; padding: 16px 29px; letter-spacing: 2px; }

#header .hdRight .hdRightBot nav ul li.active-menu a, #header .hdRight .hdRightBot nav ul li a:hover { background: #4FD400; border-radius: 100px; }

/*banner*/
#banner { background: url(../images/common/bgBanner.jpg) no-repeat center top; background-size: cover; padding: 467px 0 0; }

#banner .row { max-width: 100%; }

#banner .container { background: rgba(0, 0, 0, 0.65); max-width: 529px; width: 100%; margin: 0 0 0 auto; padding: 50px 211px 50px 171px; text-align: right; }

#banner .container .btn2 { margin-bottom: 15px; }

#banner .container p:nth-of-type(1) { margin: 0 auto; font-family: "Rajdhani"; font-weight: 700; font-size: 40px; color: #FFFFFF; }

#banner .container p:nth-of-type(2) { margin: 0 auto; font-family: "Rajdhani"; font-weight: 700; font-size: 70px; color: #FFFFFF; }

#banner .container p:nth-of-type(2) span { color: #4ED300; }

#banner .container p:nth-of-type(3) { margin: 0 auto; font-family: "Rajdhani"; font-weight: 700; font-size: 35px; color: #FFFFFF; }

/*welcome*/
#welcome .row { max-width: 100%; }

#welcome .wlcLeft { background: none; padding: 130px 0 0; text-align: left; }

#welcome .wlcLeft .welcome-text { position: relative; max-width: 66%; margin: 0 0 0 25%; z-index: 1; }

#welcome .wlcLeft .welcome-text h4 { position: relative; }

#welcome .wlcLeft .welcome-text h4::after { content: url(../images/content/eco.png); position: absolute; max-width: 280px; width: 100%; top: -57px; left: 37%; }

#welcome .wlcLeft .welcome-text h1 { background: #FFF; }

#welcome .wlcLeft .welcome-text p { background: #FFF; font-family: "Open Sans"; font-weight: 400; max-width: 620px; letter-spacing: 0.5px; line-height: 27px; color: #000000; margin: 30px 0; }

#welcome .wlcLeft .welcome-text p.phone { text-align: right; display: inline-block; vertical-align: middle; font-weight: 600; font-size: 18px; letter-spacing: 3px; margin: 0 auto; }

#welcome .wlcLeft .welcome-text p.phone span { display: block; font-weight: 800; font-size: 35px; color: #4FD400; letter-spacing: 0; }

#welcome .wlcLeft .welcome-text .btn2 { padding: 23.5px 27.5px; }

#welcome .wlcRight { position: relative; background: #4FD400; padding: 87px 0 107px; }

#welcome .wlcRight img.box { position: absolute; top: 50%; left: 19.8%; -webkit-transform: translate(-81.2%, -50%); -ms-transform: translate(-81.2%, -50%); transform: translate(-81.2%, -50%); max-width: 434px; width: 46%; }

#welcome .wlcRight img.truck { margin-left: -120px; max-width: 970px; width: 100%; }

/*services*/
#services .row { max-width: 100%; }

#services .svcLeft { background: #444444; padding: 40px 0; }

#services .svcLeft img.dump-truck { max-width: 1001px; width: 106%; margin-right: -10px; }

#services .svcRight { padding: 5% 0 0; }

#services .svcRight .container { max-width: 840px; width: 92%; margin: 0 auto 0 8%; text-align: left; }

#services .svcRight .container h2 { line-height: 79px; }

#services .svcRight .container ul { padding: 0 0 0 20px; margin: 30px 0; -webkit-columns: 3; columns: 3; }

#services .svcRight .container ul li { text-align: left; font-family: "Rajdhani"; font-weight: 600; font-size: 18px; line-height: 32px; color: #444444; }

/*wedo*/
#wedo { background: url(../images/common/bgWhat.jpg) no-repeat right top; background-size: 50% 100%; padding: 4% 0 2%; text-align: left; }

#wedo .container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; text-align: left; width: 110%; margin: 40px auto; }

#wedo .container .wedoIMG { position: relative; max-width: 396px; width: 100%; }

#wedo .container .wedoIMG img { max-width: 396px; width: 100%; margin: 10px auto; }

#wedo .container .wedoIMG p { position: absolute; bottom: 0; left: 10px; text-align: left; max-width: 380px; width: 100%; font-family: "Rajdhani"; font-weight: 500; font-size: 34px; color: #FFFFFF; text-shadow: 0 0 20px #000; }

/*review*/
#reviews .row { max-width: 100%; }

#reviews .rvwLeft .rvwIMG { max-width: 961px; width: 100%; margin-bottom: -5px; }

#reviews .rvwRight { padding: 4% 0 0; text-align: left; }

#reviews .rvwRight .container { margin: 0 0 0 80px; }

#reviews .rvwRight .container .text { margin: 20px 0 40px; }

#reviews .rvwRight .container .text dl { max-width: 669px; width: 100%; margin: 20px 0; }

#reviews .rvwRight .container .text dl dt { font-family: "Open Sans"; font-weight: 700; font-size: 18px; color: #444444; }

#reviews .rvwRight .container .text dl dt img { display: inline-block; vertical-align: middle; }

#reviews .rvwRight .container .text dl dd { margin: 0; font-family: "Open Sans"; font-style: italic; font-weight: 400; font-size: 16px; line-height: 28px; color: #222222; }

/*gallery*/
#gallery { background: url(../images/common/bgGallery.jpg) no-repeat right top; background-size: 50% 100%; padding: 5% 0; text-align: left; }

#gallery .container { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 108%; margin: 40px 0; }

#gallery .container img.galleryIMG { max-width: 535px; width: 33%; height: 100%; }

/*contact*/
#contact { background: url(../images/common/bgContact.jpg) no-repeat center top; background-size: cover; padding: 4% 0; }

#contact form { max-width: 1200px; width: 100%; margin: 40px auto 0; }

#contact form .cntTop { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#contact form .cntTop input[type="text"] { background: rgba(243, 243, 233, 0.81); width: 389px; height: 53px; border-radius: 0; }

#contact form .cntTop input[type="text"]::-webkit-input-placeholder { font-family: "Rajdhani"; font-weight: 500; font-size: 20px; color: #333333; }

#contact form .cntTop input[type="text"]:-ms-input-placeholder { font-family: "Rajdhani"; font-weight: 500; font-size: 20px; color: #333333; }

#contact form .cntTop input[type="text"]::-ms-input-placeholder { font-family: "Rajdhani"; font-weight: 500; font-size: 20px; color: #333333; }

#contact form .cntTop input[type="text"]::placeholder { font-family: "Rajdhani"; font-weight: 500; font-size: 20px; color: #333333; }

#contact form textarea { background: rgba(243, 243, 233, 0.81); height: 106px; border-radius: 0; }

#contact form textarea::-webkit-input-placeholder { font-family: "Rajdhani"; font-weight: 500; font-size: 20px; color: #333333; }

#contact form textarea:-ms-input-placeholder { font-family: "Rajdhani"; font-weight: 500; font-size: 20px; color: #333333; }

#contact form textarea::-ms-input-placeholder { font-family: "Rajdhani"; font-weight: 500; font-size: 20px; color: #333333; }

#contact form textarea::placeholder { font-family: "Rajdhani"; font-weight: 500; font-size: 20px; color: #333333; }

#contact form .cntBot { text-align: left; }

#contact form .cntBot .left, #contact form .cntBot .right { display: inline-block; vertical-align: middle; }

#contact form .cntBot .left { width: 74%; color: #FFFFFF; }

#contact form .cntBot .left label { font-family: "Rajdhani"; font-weight: 400; font-size: 18px; line-height: 25px; }

#contact form .cntBot .right { width: 24%; }

#map iframe { width: 100%; height: 665px; border: 0; }

/*footer*/
#footer { background: #4FD400; }

#footer .footTop { background: url(../images/common/bgFooter.jpg) no-repeat center top; background-size: cover; padding: 4% 0; }

#footer .footTop .row { max-width: 1200px; }

#footer .footTop .container { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-line-pack: end; align-content: flex-end; }

#footer .footTop .container .cntDetail { background: #FFFFFF; max-width: 371px; width: 100%; padding: 1px 0 5.084%; }

#footer .footTop .container .cntDetail img { margin-top: -40px; }

#footer .footTop .container .cntDetail h3 { position: relative; font-family: "Teko"; font-weight: 300; font-size: 30px; color: #187046; padding: 20px 0; }

#footer .footTop .container .cntDetail h3::after { content: ""; width: 132px; height: 1px; background: #AAAAAA; position: absolute; bottom: 0; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

#footer .footTop .container .cntDetail p { margin: 30px auto 0; font-family: "Open Sans", sans-serif; font-weight: 400; font-size: 15px; color: #444444; }

#footer .footTop .container .cntDetail:nth-child(2) p { margin: 25px auto 0; font-family: "Teko"; font-weight: 300; font-size: 30px; }

#footer .footTop .container .cntDetail:nth-child(3) p { margin: 13px auto 0; line-height: 27px; }

#footer .footTop .container .cntDetail .email { background: url(../images/common/logo-sprites.png) no-repeat 0 0; width: 71px; height: 70px; }

#footer .footTop .container .cntDetail .phone { background: url(../images/common/logo-sprites.png) no-repeat -85px 0; width: 71px; height: 70px; }

#footer .footTop .container .cntDetail .location { background: url(../images/common/logo-sprites.png) no-repeat -168px 0; width: 71px; height: 70px; }

#footer .footBot { padding: 20px 0; font-family: "Montserrat"; font-weight: 600; font-size: 14px; color: #FFFFFF; }

#footer .footBot ul { padding: 0; margin: 0; }

#footer .footBot ul li { display: inline-block; vertical-align: middle; }

#footer .footBot ul li a { font-family: "Montserrat"; font-weight: 600; font-size: 17px; color: #FFFFFF; margin: 0 10px; }

#footer .silver img { display: inline-block; vertical-align: middle; max-width: 50px; }

/*inner pages*/
.inner #content { min-height: 400px; padding: 40px 0; }

/*privacy policy*/
.inPrivacyBox { max-width: 850px; margin: 0 auto; }

.inPrivacyBox p { text-align: justify !important; }

/** Responsive
-------------------------------------------------------*/
@media screen and (max-width: 1820px) { #welcome .wlcLeft { padding: 6% 0; }
  #welcome .wlcLeft .welcome-text { max-width: 75%; margin: 0px 0 0 15%; }
  #wedo .container { width: 100%; }
  #wedo .container .wedoIMG { width: 24%; }
  #gallery .container { width: 104%; } }

@media screen and (max-width: 1650px) { #welcome .wlcLeft { padding: 5% 0; }
  #welcome .wlcLeft .welcome-text { max-width: 80%; margin: 0px 0 0 10%; }
  #gallery .container { width: 100%; } }

@media screen and (max-width: 1500px) { #welcome .wlcLeft { padding: 5% 0; }
  #welcome .wlcLeft .welcome-text { max-width: 84%; margin: 0px 0 0 5%; }
  #reviews .rvwRight { padding: 2% 0 0; }
  #reviews .rvwRight .container { margin: 0 0 0 5%; }
  #reviews .rvwRight .container .text dl { max-width: 100%; } }

@media screen and (max-width: 1440px) { .row { max-width: 95%; }
  #welcome .wlcLeft { padding: 4% 0; }
  #welcome .wlcLeft .welcome-text { max-width: 86%; margin: 0 0 0 5%; } }

/*@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
}*/
/*@media screen and (max-width: 800px){
  [class*="col-"] {
    width: 100%;
  }
	#header {padding: 0}
	#header .row {width: 100%}
	#header .hdRight nav {display:block; height: auto; }
  	#header .hdRight nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px;}
  	#header .hdRight nav ul li { width: 100%;position: relative; }
  	#header .hdRight nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header .hdRight nav a {text-align: left; width: 100%;}
	#header .hdRight nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header .hdRight nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header .hdRight nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}

	.cta{background: #035B96  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #013f9a ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}*/
